<br>
<body>
<div class="item">
  <div class="work">
    <div class="img d-flex align-items-end justify-content-center" style="background-image: url(images/work-2.jpg);">
      <div class="text w-100">
          <div class="status" *ngIf="isLoggedIn == false">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="panel panel-default">
                          <div class="panel-body">
                            <div class="text-center">
                              <h3><i class="fa fa-lock fa-4x"></i></h3>
                              <h2 class="text-center">Forgot Password?</h2>
                              <p>You can reset your password here.</p>
                              <div class="panel-body">
                
                                <form [formGroup]="myForm" (ngSubmit)="submit()" ngNativeValidate>
                
                                  <div class="form-group">
                                    <div class="input-group">
                                      <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                      <input id="email" name="email" placeholder="email address" class="form-control" formControlName="email" type="email">
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Reset Passwords" type="submit">
                                  </div>
                                  
                                  <input type="hidden" class="hide" name="token" id="token" value=""> 
                                </form>
                
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
        
        <div class="status" *ngIf="isLoggedIn == true">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="panel panel-default">
                          <div class="panel-body">
                            <div class="text-center">
                              <h2 class="text-center"><strong>Update Password</strong></h2>
                              <p>You can reset your password here.</p>
                              <div class="panel-body">
                
                                <form [formGroup]="form" (ngSubmit)="updatePassword()" ngNativeValidate>
                
                                  <div class="form-group">
                                    <label class="text" for="description">New Password</label>
                                    <input 
                                        formControlName="new_password"
                                        id="new_password" 
                                        type="password" 
                                        placeholder="New Password Here......"
                                        class="form-control">
                                    
                                </div>
                                  <div class="form-group">
                                    <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Reset Passwords" type="submit">
                                  </div>
                                  
                                  <input type="hidden" class="hide" name="token" id="token" value=""> 
                                </form>
                
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
</body>