<footer id="footer">
     <div class="container">
          <div class="row">
               <div class="col-md-4 col-sm-6">
                    <div class="footer-info">
                         <div class="section-title">
                              <h2>Edu App Inc</h2>
                         </div>
                         <address>
                              <p>44 Stanley Avenue,<br> Brammfontien, Johannesburg</p>
                         </address>
                         <ul class="social-icon">
                              <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                              <li><a href="#" class="fa fa-twitter"></a></li>
                              <li><a href="#" class="fa fa-instagram"></a></li>
                         </ul>
                         <div class="copyright-text"> 
                              <p>Copyright &copy; 2022 The Digital Academy</p>
                              
                              <p>Design: By Edu App Devs</p>
                         </div>
                    </div>
               </div>
               <div class="col-md-4 col-sm-6">
                    <div class="footer-info">
                         <div class="section-title">
                              <h2>Contact Info</h2>
                         </div>
                         <address>
                              <p>061 544 9366</p>
                              <p><a href="mailto:youremail.co">info@digitalacademy.co.za</a></p>
                         </address>
                         <div class="footer_menu">
                              <h2>Quick Links</h2>
                              <ul>
                                   <li><a href="#">Sign Up</a></li>
                                   <li><a href="#">Login</a></li>
                                   <li><a href="#">Terms & Conditions</a></li>
                                   <li><a href="#">Refund Policy</a></li>
                              </ul>
                         </div>
                    </div>
               </div>
               <div class="col-md-4 col-sm-12">
                    <div class="footer-info newsletter-form">
                         <div>
                              <div class="form-group">
                                   <form action="#" method="get">
                                        <input type="submit" class="form-control" name="submit" id="carousel" value="Go Up">
                                   </form>
                                   <span><sup>*</sup> Please note - we do not spam your email.</span>
                              </div>
                         </div>
                    </div>
               </div>
               
          </div>
     </div>
 </footer>
