<div class="container-fluid">
  <h1><strong>Welcome, {{myName}}</strong></h1>
    <!-- <div class="buttons">
        <button class="btn btn-primary mx-2" (click)="getusers('teacher')">Get All Teachers</button> 
        <button class="btn btn-primary mx-2" (click)="getusers('learner')">Get All Learners</button> <button class="btn btn-primary mx-2" routerLink="/view-bookings">View Bookings</button>
    </div> -->
<h3 *ngIf="getUsers === ''"><strong>All Users</strong></h3>
<h3 *ngIf="getUsers === 'teacher'"><strong>All Teachers</strong></h3>
<h3 *ngIf="getUsers === 'learner'"><strong>All Learners</strong></h3>
<div class="table-responsive">
    <table class="table table-striped table-hover" *ngIf="getUsers === ''">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Full Name</th>
            <th scope="col">Email</th>
            <th scope="col">Cell Number</th>
            <th scope="col">Status</th>
            <th scope="col">Usertype</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let users of all_users; index as i">
            <th scope="row">{{i + 1}}</th>
            <td>{{users.full_name}}</td>
            <td>{{users.email}}</td>
            <td>{{users.cellno}}</td>
            <td  *ngIf="users.status; else diactive">Active</td>
            <td>{{users.usertype}}</td>
          </tr>
        </tbody>
      </table>
    
      <table class="table table-striped table-hover" *ngIf="getUsers === 'teacher'">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Full Name</th>
            <th scope="col">Email</th>
            <th scope="col">Cell Number</th>
            <th scope="col">Status</th>
            <th scope="col">Usertype</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let users of all_teachers; index as i">
            <th scope="row">{{i + 1}}</th>
            <a (click)="setActiveUser(users, i)"
            routerLink="/user-status"
            [class.active]="i == currentIndex"><td>{{users.full_name}}</td></a>
            <td>{{users.email}}</td>
            <td>{{users.cellno}}</td>
            <td  *ngIf="users.status; else diactive">Active</td>
            <td>{{users.usertype}}</td>
          </tr>
        </tbody>
      </table>

      <table class="table table-striped table-hover" *ngIf="getUsers === 'false'">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Full Name</th>
            <th scope="col">Email</th>
            <th scope="col">Cell Number</th>
            <th scope="col">Status</th>
            <th scope="col">Usertype</th>
          </tr>
        </thead>
        <tbody  *ngFor="let users of all_users; index as i">
          <tr *ngIf="users.status === false">
            <td scope="row">{{i + 1}}</td>
            <a (click)="setActiveUser(users, i)"
            routerLink="/user-status"
            [class.active]="i == currentIndex"><td>{{users.full_name}}</td></a>
            <td>{{users.email}}</td>
            <td>{{users.cellno}}</td>
            <td  *ngIf="users.status; else diactive">Active</td>
            <td>{{users.usertype}}</td>
          </tr>
        </tbody>
      </table>
    
      <table class="table table-striped table-hover" *ngIf="getUsers === 'learner'">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Full Name</th>
            <th scope="col">Email</th>
            <th scope="col">Cell Number</th>
            <th scope="col">Status</th>
            <th scope="col">Usertype</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let users of all_learners; index as i">
            <td>{{i + 1}}</td>
            <a (click)="setActiveUser(users, i)"
            routerLink="/user-status"
            [class.active]="i == currentIndex"><td>{{users.full_name}}</td></a>
            <td>{{users.email}}</td>
            <td>{{users.cellno}}</td>
            <td  *ngIf="users.status; else diactive">Active</td>
            <td>{{users.usertype}}</td>
          </tr>
        </tbody>
      </table>
</div>
</div>


<ng-template #diactive>

  <td>Not Active</td>
</ng-template>