
      <!-- HOME -->
      <section id="home">
          <div class="row">
                    <div class="owl-carousel owl-theme home-slider">
                         <div class="item item-first">
                              <div class="caption">
                                   <div class="container">
                                        <div class="col-md-6 col-sm-12">
                                             <h1>Learning with Edu App Inc</h1>
                                             <h3>From first day to finals, get homework help, exam prep & writing support—tailored to your troubling subjects</h3>
                                             <a routerLink="/register" class="section-btn btn btn-default smoothScroll">Get Started</a>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
                    
                  
               </div>
 <section id="feature">
     <div class="container">
          <div class="row">
               <div class="col-md-4 col-sm-4">
                    <div class="feature-thumb">
                         <span>01</span>
                         <h3>Subjects For Matrics</h3>
                         <p>As an adult matric student, you have to take 3 compulsory subjects and choose 3 optional subjects. Students have to choose two languages, one which has to be a home language.</p>
                    </div>
               </div>
               <div class="col-md-4 col-sm-4">
                    <div class="feature-thumb">
                         <span>02</span>
                         <h3>Subject Forums & Material</h3>
                         <p>Edu App provides a platform where teachers can connect to grade 12 learbers and not only share solutions to subject
                               problems but also have book online private sessions through their desired 
                               applications and this will to improve progress and the development of new curriculum</p>
                              
                         </div>
               </div>
               <div class="col-md-4 col-sm-4">
                    <div class="feature-thumb">
                         <span>03</span>
                         <h3>Certified Teachers</h3>
                         <p>A certified teacher is an educator who has earned credentials from an authoritative source, such as the government, a higher education institution or a private body or source. This teacher is verified through the system. </p>
                    </div>
               </div>
          </div>
      </div>
 </section>

 
 <!-- ABOUT -->
 <section id="about">
     <div class="container">
          <div class="row">
               <div class="col-md-6 col-sm-12">
                    <div class="about-info">
                         <h2>Through our platform, your grades will sky rocket</h2>
                         <p>Whether it's at home, in the classroom, or in the workplace, learning is a <br> never-ending road of discovery, challenge, inspiration and improving your knowledge
                         </p>
   
   
                         <figure>
                              <span><i class="fa fa-users"></i></span>
                              <figcaption>
                                   <h3>Professional Teachers and Mentors</h3>
                                   <p>This platform allows teachers to connect to Matric lesrners and not only share solutions to subject problems but also have book online private sessions through their desired applications</p>
                              </figcaption>
                         </figure>
   
                         <figure>
                              <span><i class="fa fa-certificate"></i></span>
                              <figcaption>
                                   <h3>Access to subject group discussion</h3>
                                   <p>With all the National Matric subjects, any learner can assign a subject they have registered with at their school and be able to post their challenges</p>
                              </figcaption>
                         </figure>
   
                         <!-- <figure>
                              <span><i class="fa fa-dollar"></i></span>
                              <figcaption>
                                   <h3>Affordable Private Sessions per subject</h3>
                                   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint ipsa voluptatibus.</p>
                              </figcaption>
                         </figure> -->
   
                         <figure>
                           <span><i class="fa fa-envelope"></i></span>
                           <figcaption>
                                <h3>Accessiblle by any Learner and Teacher</h3>
                                <p>The application has made it easy for communication between the learners and the teachers by providing them with the chat functionality.</p>
                           </figcaption>
                      </figure>
                    </div>
               </div>
               <div class="col-md-offset-1 col-md-4 col-sm-12">
                    <div class="item">
                         <div class="courses-thumb">
                              <div class="courses-top">
                                   <div class="courses-image">
                                        <img src="assets/images/courses-image3.jpg" class="img-responsive" alt="">
                                   </div>
                                   
                              </div>
                              <div class="courses-info">
                                   <div class="courses-author">
                                        
                                   </div>
                                   <div class="courses-price free">
                                        <button class="getstarted" role="button" routerLink="/register">Get started</button>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
      </div>
 </section>
 
