<h2><strong>Welcome {{name}}</strong></h2>
<!-- ======= Hero Section ======= -->
   <main id="main">
       <!-- ======= Icon Boxes Section ======= -->
       <section id="icon-boxes" class="icon-boxes">
         <div class="container">
   
           <div class="row">
             <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up">
               <div class="icon-box">
                 <div class="icon"><i class="bx bxl-dribbble"></i></div>
                 <h4 class="title"><a routerLink="/profile">Access to Profile</a></h4>
                 <p class="description">This is where you can update your name, email, &  the cell phone number.</p>
               </div>
             </div>
   
             <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
               <div class="icon-box">
                 <div class="icon"><i class="bx bx-file"></i></div>
                 <h4 class="title"><a routerLink="/add-subject">Assign Subjects</a></h4>
                 <p class="description">This is where you can choose subjects that you will be assisting learners with</p>
               </div>
             </div>
   
             <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="200">
               <div class="icon-box">
                 <div class="icon"><i class="bx bx-tachometer"></i></div>
                 <h4 class="title"><a routerLink="/view-bookings">Bookings on the line</a></h4>
                 <p class="description">Here you can approve or decline bookings, view upcoming and previous bookings.</p>
               </div>
             </div>
   
             <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="300">
               <div class="icon-box">
                 <div class="icon"><i class="bx bx-layer"></i></div>
                 <h4 class="title"><a routerLink="/upload-documents">Upload your Qualification</a></h4>
                 <p class="description">Here you upload your qualifications.</p>
               </div>
             </div>
   
           </div>
   
         </div>
       </section><!-- End Icon Boxes Section -->  
      <app-add-subject></app-add-subject>
       <!-- End Why Us Section -->
     </main>
     <!-- End #main -->
   
     <!-- ======= Footer ======= -->
     <!-- End Footer -->
   
     <div id="preloader"></div>

   
