  <div class="section-title" data-aos="fade-up">
    <h2><strong>Welcome {{name}}</strong></h2>         
    <p>Take advantage right now!</p>
  </div>

  <section id="hero" class="d-flex align-items-center">
    
    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Improve your Knowledge through EduApp</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">Meet thousands of other Grade 12 teachers &amp; 
               learners to stand a higher chance on improving your Subject's understanding</h2>
          <div data-aos="fade-up" data-aos-delay="800">
            <!-- <a href="#services" class="btn-get-started scrollto">Get Started</a> -->
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
          <img src="assets/learnerCss/img/counts-img.svg" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>
  </section>

  <main id="main">

    <section id="clients" class="clients clients">
      <div class="container">

        <!-- ======= Services Section ======= -->
      <section id="services" class="services" >
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
              <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                <div class="icon"><i class="bx bxl-dribbble"></i></div>
                <h4 class="title"><a routerLink="/profile">My Profile</a></h4>

                <p class="description">Update your personal information on the go through simple clicks</p>
                
              </div>
            </div>

            <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
              <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                <div class="icon"><i class="bx bx-file"></i></div>
                <!-- <h4 class="title"><a href="">Subject</a></h4> -->
                <h4 class="title"><a routerLink="/subject" >Subjects</a></h4>

                <p class="description">View all the Subjects available for you and assign Subjects now
                    that you need help with.
                </p>
              </div>
            </div>

            <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
              <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                <div class="icon"><i class="bx bx-tachometer"></i></div>
                <h4 class="title"><a routerLink="/view-bookings" >Bookings</a></h4>
                <p class="description">Track your bookings right away and never miss any session.</p>
              </div>
            </div>
          </div>

        </div>
      </section>
   